html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #d09a2a;
    /* Dourado */
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    background-color: #000;
}

.bg-featured-blog {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 15rem;
}

a {
    color: #d09a2a;
}

.feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 0 auto;
}

.feature-icon i {
    color: #d09a2a;
}

.text-custom {
    color: #d09a2a;
    transition: color 0.3s ease;
}

.text-custom:hover {
    color: #000;
}

.icone-contato-custom {
    color: #d09a2a;
    transition: color 0.3s ease;
}

.icone-contato-custom:hover {
    color: white;
}


footer {
    background-color: #000;
    text-align: center;
    color: white;
    padding: 1rem 0;
}

.btn-cadastrar {
    background-color: #d09a2a;
    /* Cor de fundo padrão */
    border-color: #d09a2a;
    /* Cor da borda padrão */
    color: #fff;
    /* Cor do texto padrão */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    /* Transição suave */
}

.btn-cadastrar:hover,
.btn-cadastrar:focus {
    background-color: #b8902f;
    border-color: #b8902f;
}

/* Caixa de consentimento de cookies */
.cookie-banner {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.cookie-content p {
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
    flex: 1;
    padding-right: 20px;
}

.cookie-content a.privacy-link {
    color: #d09a2a;
    text-decoration: underline;
}

.cookie-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cookie-buttons button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-accept {
    background-color: #d09a2a;
    color: #fff;
    font-weight: bold;
}

.btn-accept:hover {
    background-color: #b8902f;
}

.btn-reject {
    background-color: transparent;
    border: 1px solid #d09a2a;
    color: #d4af37;
}

.btn-reject:hover {
    background-color: #d4af37;
    color: #fff;
}

/* Ocultar a caixa após a aceitação */
.hidden {
    display: none;
}

.card-precos {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
}

.card-precos .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-precos .d-grid {
    margin-top: auto;
}